In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [3]:
df=pd.read_csv(r"/Users/macbook/Downloads/PlayTennis2 - Sheet1.csv")

In [5]:
len(df)

14

In [7]:
df.shape

(14, 5)

In [9]:
x=df.drop("Golf Players",axis=1)
y=df['Golf Players']

In [11]:
x

     Outlook Temperature Humidity  Windy
0      Sunny         Hot     High  False
1      Sunny         Hot     High   True
2   Overcast         Hot     High  False
3      Rainy        Mild     High  False
4      Rainy        Cool   Normal  False
5      Rainy        Cool   Normal   True
6   Overcast        Cool   Normal   True
7      Sunny        Mild     High  False
8      Sunny        Cool   Normal  False
9      Rainy        Mild   Normal  False
10     Sunny        Mild   Normal   True
11  Overcast        Mild     High   True
12  Overcast         Hot   Normal  False
13     Rainy        Mild     High   True

In [13]:
y

0     25
1     30
2     46
3     45
4     52
5     23
6     43
7     35
8     38
9     46
10    48
11    52
12    44
13    30
Name: Golf Players, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

In [17]:
from sklearn import preprocessing
string_to_int=preprocessing.LabelEncoder()
X=x.apply(string_to_int.fit_transform)
X

    Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [19]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor()
reg=reg.fit(X,y)

In [21]:
y_pred=reg.predict([[2,1,0,1]])
print("Result is : ",y_pred)

Result is :  [30.]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [23]:
y_pred=reg.predict([[2,1,0,0]])
print("Result is : ",y_pred)

Result is :  [25.]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [25]:
y_pred=reg.predict([[0,1,1,0]])
print("Result is : ",y_pred)

Result is :  [44.]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(